DEBUG=False
SECRET_KEY=django-insecure-ваш-уникальный-ключ-для-генерации-хэшей
ALLOWED_HOSTS=<ваш-ip>, <ваш-домен>, 127.0.0.1, localhost
BASE_URL=https://<ваш-домен>

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
