Django==3.2
requests
djangorestframework
django-cors-headers==3.13.0
django-colorfield
django-filter==23.1
psycopg2-binary==2.9.3
drf-extra-fields==3.4.1
djangorestframework-simplejwt
PyJWT
Pillow
djoser
gunicorn==20.1.0
python-dotenv==0.10.1
reportlab==4.0.4